.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-form {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.App-input {
  width: 75%;
}

.App-list {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
